@import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:wght@300&family=Prompt:wght@300&display=swap');

body{
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    background-image: url("https://5jime.files.wordpress.com/2015/10/60cb2-dscf3260.jpg?w=1600&h=900");
    background-size: cover;
}

a, a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

textarea{
    height: 34px;
    border-width: 2px;
    border-color: black;
}

.menu-bar {
    background-color: rgb(192, 136, 219);
    padding-inline: 20px;
    font-size: 18px;
}

.search-menu{
    display: none;
}

#search:hover .search-menu{
    display: block;
    position: absolute;
    background: rgb(192, 136, 219);
}

li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 56px;
    list-style: none;
}

li:hover{
    background: rgb(168, 90, 207);
}

.search-menu li{
    padding-left: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}